/.cask/
/tramp
/.tern-port
/ac-comphist.dat
/amx-items
/auto-save-list/
/bookmarks
/elpa/
/eshell/
/forge-database.sqlite
/history
/irony/
/recentf
/semanticdb/
/sm
/smex-items
/transient/
/eln-cache
/url

/session.*
/.lsp-session-*

.mc-lists.el
