/.cache
/.cask
/ac-comphist.dat
/amx-items
/auto-save-list
/bookmarks
/eln-cache
/elpa
/eshell
/forge-database.sqlite
/games
/history
/irony
/recentf
/semanticdb
/sm
/smex-items
/tramp
/transient
/url
/spell-fu
/tree-sitter

/straight/*
!/straight/versions

/session.*
/.lsp-session-*

*.~undo-tree~

.mc-lists.el
